#harmas {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    height: 20rem;
}

#conceptart {
    background-image: url('img/digitalhands.jpg');
    background-size: cover;
}
#storyboard {
    background-image: url('img/storyboarding-books-best.jpg');
    background-size: cover;
    color: white;
}
#manga {
    background-image: url('img/cartoon-5190961_1280.jpg');
    background-size: cover;
    color: white;
}

#harmas h2, #harmas p {padding: 0 2rem;}

#kepszerk:hover, #keppaly:hover, #aikep:hover, #cad3d:hover, #print3d:hover, #scan3d:hover, #blenderkarakter:hover, #blenderhs:hover, #blenderuv:hover, #gamejam:hover, #esport:hover, #platformer:hover, #vfx:hover, #unreal:hover, #unity:hover, #conceptart:hover, #storyboard:hover, #manga:hover, #cosplay:hover {
    background-image: none;
    color: #0881A3;
    transition: .5s;
}