h2 {border-bottom: 1px solid #222;}

.terminal {
    background:darkslategrey ;
    color: #00ff00;
    font-family: "Courier New", monospace;
    padding: 10px;
    border-radius: 6px;
    white-space: pre;
    overflow-x: auto;
    line-height: 1.6;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.2);
    /*margin-bottom: 15px;*/
}

.prompt {
    color: #00ffff;
    font-weight: bold;
}

.config {
    color: #ff9900;
}

.section {
    color: #ffffff;
    font-weight: bold;
}

/*.note {
    border: 1px solid red;
    border-left: 4px solid #00ff00;
    padding: 12px;
    font-style: italic;
    margin-bottom: 30px;
    border-radius: 4px;
}*/