.terminal{
    background-color:darkslategray;
    color: #00ff00;
    font-family:"Lucida Console","Courier New",monospace;
    font-size:13px;
    
    border-radius:4px;
    white-space:pre;
    overflow-x:auto;
    line-height:1.35;
    border:1px solid #222;
    box-shadow:
        inset 0 0 15px rgba(0,255,0,0.08),
        0 0 8px rgba(0,255,0,0.15);
    margin-bottom:20px;
    position:relative;
}

/* Prompt */
.prompt{
    color: #00ffff;
    font-weight:bold;
}

/* Config mód */
.config{
    color: #ff9900;
    font-weight:bold;
}


/* ====== RESZPONZÍV ====== */

@media screen and (max-width:768px){

    body{
        padding:20px;
    }

    .terminal{
        font-size:12px;
        padding:14px;
    }
}
